APP_MODE=api
PORT=8082
TIME_GRACE=10

# Database Config
DATABASE_HOST=postgres-notification
DATABASE_PORT=5432
DATABASE_USER=user_admin
DATABASE_PASSWORD=password123
DATABASE_DBNAME=notification_db
DATABASE_SSLMODE=disable

# Broker Config
BROKER_HOST=rabbitmq
BROKER_PORT=5672
BROKER_USER=guest
BROKER_PASSWORD=guest
QUEUE_EXCHANGE=notification.direct
QUEUE_WEBHOOK_MAILPIT=webhook_mailpit

# SMTP Config
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=no-reply@microservices.local
# Worker Config
WORKER_BATCH_SIZE=10
WORKER_INTERVAL=5

# Redis Config
REDIS_HOST=redis-cache
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

RATE_LIMIT_GLOBAL_LIMIT=100
RATE_LIMIT_GLOBAL_WINDOW_SECS=60
RATE_LIMIT_SEND_LIMIT=10
RATE_LIMIT_SEND_WINDOW_SECS=60

WORKER_CIRCUIT_BREAKER_MAX_FAILURES=5
WORKER_CIRCUIT_BREAKER_OPEN_DURATION=30s