PORT=8082
TIME_GRACE=10

# Database Config
DATABASE_HOST=postgres-notification
DATABASE_PORT=5432
DATABASE_USER=user_admin
DATABASE_PASSWORD=password123
DATABASE_DBNAME=notification_db
DATABASE_SSLMODE=disable

# Broker Config
BROKER_HOST=localhost
BROKER_PORT=5672
BROKER_USER=guest
BROKER_PASSWORD=guest
QUEUE_NOTIFICATION_EVENTS=notification.events

# SMTP Config
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=no-reply@microservices.local
