PORT=8080
TIME_GRACE=10

# Database Config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=user_admin
DATABASE_PASSWORD=password123
DATABASE_DBNAME=identity_db
DATABASE_SSLMODE=disable

# JWT Config
JWT_SECRET_KEY=PhaiThayDoiKeyNayKhiLenProduction123!
JWT_ISSUER=identity-service
JWT_ACCESS_TOKEN_LIFESPAN=24
JWT_REFRESH_TOKEN_LIFESPAN=168

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=your_google_id_here
GOOGLE_OAUTH_CLIENT_SECRET=your_google_secret_here
GOOGLE_OAUTH_REDIRECT_URL=http://localhost:8081/api/v1/auth/google/callback

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0