apiVersion: v1
kind: Secret
metadata:
  name: identity-secret
  namespace: microservices-platform
type: Opaque
stringData:
  DATABASE_PASSWORD: "CHANGE_ME_IN_PRODUCTION"
  JWT_SECRET_KEY: "CHANGE_ME_IN_PRODUCTION"
  GOOGLE_OAUTH_CLIENT_SECRET: "CHANGE_ME_IN_PRODUCTION"
